/* General styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  --primary-text-color: #272343;
  --secondary-text-color: #2d334a;
  --durability-text-color: #6a737d9c;
  --icon-color: #e3f6f5;
  --border-color: #272343;
  --text-decoration-color: #ffd803;
  --main-background-color: linear-gradient(
    180deg,
    rgba(3, 56, 244, 0.71) 33%,
    rgba(224, 37, 206, 0.79) 83%
  );
  --second-background-color: rgba(196, 196, 196, 0.3);
  --second-background-color-35: rgba(196, 196, 196, 0.35); 
  --third-background-color: #fffffe;

  --letter-spacing: 1px;
  --border-radius: 0.5rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  background: var(--main-background-color);
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1,5;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem); /* Large heading */
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
  text-transform: capitalize;
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.resume {
  margin: 10px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  background-color: var(--second-background-color);
  padding: 10px auto;
  border-radius: var(--border-radius);
  width: 100%;
}
.profile {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  align-items: flex-start;
}

.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 110px;
  height: 116px;
  border-radius: 50%;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}
h1 > span {
  font-weight: 200;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--secondary-text-color);
}
.wrapper {

}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--third-background-color);
  border-radius: var(--border-radius);
  margin-left: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

@media screen and (max-width: 576px) {
  .resume {
    display: flex;
    flex-direction: column;
  }
}
